body {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
body {
	line-height: 1.5; -webkit-font-smoothing: antialiased;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
address {
	font-style: normal;
}
caption {
	font-style: normal;
}
cite {
	font-style: normal;
}
code {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}

th {
	font-style: normal;
}
var {
	font-style: normal;
}
optgroup {
	font-style: normal;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
abbr {
	border: 0px currentColor; font-variant: normal;
}
acronym {
	border: 0px currentColor; font-variant: normal;
}
input {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
button {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
optgroup {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
option {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
code {
	font-size: 100%;
}
kbd {
	font-size: 100%;
}
samp {
	font-size: 100%;
}
tt {
	font-size: 100%;
}
input {
	vertical-align: middle;
}
button {
	vertical-align: middle;
}
textarea {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
sup {
	font-size: 100%; vertical-align: baseline;
}
sub {
	font-size: 100%; vertical-align: baseline;
}
i {
	font-style: normal;
}
:focus {
	outline: 0px;
}
:link {
	text-decoration: none;
}
:visited {
	text-decoration: none;
}
ins {
	text-decoration: none;
}
a {
	color: rgb(51, 51, 51);
}
a:link {
	color: rgb(51, 51, 51);
}
a:visited {
	color: rgb(51, 51, 51);
}
a:hover {
	color: rgb(219, 86, 41); text-decoration: underline;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
a {
	cursor: pointer;
}
.gray {
	color: rgb(204, 204, 204);
}
.yellow {
	color: rgb(255, 185, 0);
}
.red {
	color: rgb(192, 33, 0);
}
.blur {
	color: rgb(30, 178, 213);
}
.green {
	color: rgb(47, 191, 43);
}
.txtca8 {
	color: rgb(202, 137, 33);
}
.gray6 {
	color: rgb(102, 102, 102);
}
.gray6 a:link {
	color: rgb(102, 102, 102);
}
.gray6 a:visited {
	color: rgb(102, 102, 102);
}
.gray6 a:hover {
	color: rgb(219, 146, 36);
}
.orange {
	color: rgb(253, 108, 1);
}
a.orange {
	color: rgb(253, 108, 1);
}
.orange a:link {
	color: rgb(253, 108, 1);
}
.orange a:visited {
	color: rgb(253, 108, 1);
}
a.orange:hover {
	color: rgb(187, 69, 29);
}
.orange a:hover {
	color: rgb(187, 69, 29);
}
.ellipsis {
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}
.none {
	display: none;
}
body {
	background: rgb(243, 244, 248); font-family: "Microsoft YaHei",΢���ź�,Tahoma,Arial,Helvetica; font-size: 12px;
}
.clearfix::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.ui-wrapper::after {
	height: 0px; clear: both; display: block; content: "\200B";
}
.clearfix {
	
}
.ui-wrapper {
	
}
.ui-loading {
	padding: 1.25em; border-radius: 0.31em; left: 50%; top: 50%; width: 15em; height: auto; margin-top: -5.73em; margin-left: -7.75em; display: none; filter: Alpha(Opacity=88); position: fixed; z-index: 99999; opacity: 0.88; background-color: rgb(42, 42, 42); _position: absolute; -moz-border-radius: .3125em; -webkit-border-radius: .3125em;
}
.ui-loading .ui-loading-icon {
	margin: 0px auto 0.62em; padding: 0.06em; border-radius: 2.25em; width: 2.75em; height: 2.75em; display: block; filter: Alpha(Opacity=75); opacity: 0.75; background-image: url("/static/images/ajax-loader-8fd7e71.gif"); background-size: 2.87em 2.87em; background-color: rgb(0, 0, 0); -moz-border-radius: 2.25em; -webkit-border-radius: 2.25em;
}
.ui-loading h3 {
	margin: 0px; padding: 0px; text-align: center; color: rgb(255, 255, 255); font-size: 1.2em;
}
.ui-header {
	border-width: 0px 0px 1px; border-style: solid; border-color: rgb(229, 229, 229); background-color: rgb(255, 255, 255);
}
.ui-main {
	padding: 10px 0px;
}
.ui-footer {
	padding: 20px 0px; color: rgb(204, 204, 204); font-size: 14px; position: relative; background-color: rgb(51, 51, 51);
}
.ui-footer a {
	color: rgb(204, 204, 204);
}
.ui-footer a:link {
	color: rgb(204, 204, 204);
}
.ui-footer a:visited {
	color: rgb(204, 204, 204);
}
.ui-wrapper {
	width: 960px; margin-right: auto; margin-left: auto; position: relative;
}
.ui-left {
	float: left;
}
.ui-right {
	float: right;
}
.ui-logo {
	margin: 29px 0px 20px; width: 296px; height: 47px; text-indent: -999px; overflow: hidden; display: block; background-image: url("/static/images/user/logo-7074dbc.png"); background-repeat: no-repeat;
}
.ui-nav {
	padding: 52px 220px 28px 0px; overflow: hidden; margin-bottom: -2px; position: relative;
}
.ui-nav li {
	border-width: 0px 0px 0px 1px; border-style: solid; border-color: rgb(204, 204, 204); height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-size: 16px; margin-left: -1px; float: left; position: relative;
}
.ui-nav li a {
	padding: 0px 15px; border: 0px solid rgb(219, 86, 41); height: 42px; color: rgb(51, 51, 51); margin-bottom: -28px; float: left; display: block; position: relative;
}
.ui-nav li a.current {
	border-width: 0px 0px 4px; color: rgb(219, 86, 41); text-decoration: none;
}
.ui-nav li a:hover {
	border-width: 0px 0px 4px; color: rgb(219, 86, 41); text-decoration: none;
}
.ui-nav-passport {
	top: 40px; right: 0px; position: absolute;
}
.ui-nav-passport a {
	border-radius: 5px; border: 1px solid rgb(204, 204, 204); width: 96px; height: 36px; text-align: center; color: rgb(51, 51, 51); line-height: 36px; font-size: 16px; margin-left: 10px; float: left; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.ui-nav-passport a:hover {
	border-color: rgb(254, 106, 9); text-decoration: none;
}
.ui-nav-passport a.ui-nav-login {
	border-color: rgb(233, 93, 1); color: rgb(255, 255, 255); background-color: rgb(233, 93, 1);
}
.ui-nav-passport a.ui-nav-login:hover {
	background-color: rgb(254, 106, 9);
}
.ui-nav-passport a.ui-nav-register:hover {
	color: rgb(255, 255, 255); background-color: rgb(254, 106, 9);
}
.ui-navTop {
	height: 25px; color: rgb(255, 255, 255); line-height: 20px; padding-top: 5px; font-size: 14px; border-bottom-color: rgb(223, 223, 223); border-bottom-width: 1px; border-bottom-style: solid; position: relative; z-index: 999; background-color: rgb(51, 51, 51);
}
.ui-navTop a {
	color: rgb(255, 255, 255);
}
.ui-navTop .ui-left span {
	padding-right: 20px; position: relative;
}
.ui-navTop .ui-left span strong {
	padding-left: 10px;
}
.ui-navTop .ui-left .wb {
	top: 1px; position: absolute;
}
.ui-navTop .top-marquee {
	width: 630px; height: 20px; overflow: hidden; white-space: nowrap; position: relative;
}
#top-marquee {
	left: 0px; top: 0px; position: absolute;
}
.nav-tel {
	display: inline-block; background-image: url("/static/images/user/icon-base-1a927ea.png"); background-repeat: no-repeat;
}
.nav-weibo {
	display: inline-block; background-image: url("/static/images/user/icon-base-1a927ea.png"); background-repeat: no-repeat;
}
.nav-weixin {
	display: inline-block; background-image: url("/static/images/user/icon-base-1a927ea.png"); background-repeat: no-repeat;
}
.nav-app {
	display: inline-block; background-image: url("/static/images/user/icon-base-1a927ea.png"); background-repeat: no-repeat;
}
.nav-kefu {
	display: inline-block; background-image: url("/static/images/user/icon-base-1a927ea.png"); background-repeat: no-repeat;
}
.nav-tel {
	background-position: 0px -177px; width: 16px; height: 16px; margin-right: 10px; margin-bottom: -2px;
}
.nav-weibo {
	width: 25px; height: 20px; margin-bottom: -5px; margin-left: 15px;
}
.nav-weixin {
	width: 25px; height: 20px; margin-bottom: -5px; margin-left: 15px;
}
.nav-weibo small {
	display: none;
}
.nav-weixin small {
	display: none;
}
.nav-weibo {
	background-position: 0px -116px; margin-left: 80px;
}
.nav-weibo:hover {
	background-position: -26px -116px;
}
.nav-weixin {
	background-position: 0px -137px; position: relative;
}
.nav-weixin:hover {
	background-position: -26px -137px;
}
.nav-weixin .ui-popup {
	left: -44px; top: 31px; visibility: hidden;
}
.nav-weixin:hover .ui-popup {
	visibility: visible;
}
.nav-app {
	background-position: 0px -157px; width: 10px; height: 19px; margin-right: 5px; margin-bottom: -4px;
}
.app-mobile {
	position: relative;
}
.app-mobile:hover {
	border: 0px currentColor; color: rgb(233, 93, 1);
}
.app-mobile:hover .nav-app {
	background-position: -11px -157px;
}
.app-mobile .ui-popup {
	left: -10px; top: 30px; visibility: hidden;
}
.app-mobile:hover .ui-popup {
	visibility: visible;
}
.nav-kefu {
	background-position: 0px -194px; width: 18px; height: 16px; margin-bottom: -3px; margin-left: 5px;
}
.foot-links {
	padding-bottom: 15px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
.foot-links h6 {
	width: 80px; padding-left: 10px; float: left;
}
.foot-links ul {
	width: 870px; float: left;
}
.foot-links ul li {
	padding-left: 20px; float: left;
}
.foot-about {
	padding: 15px 0px; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.foot-about .about-link {
	padding-right: 240px; padding-left: 10px;
}
.foot-about .about-link li {
	padding-right: 20px; float: left;
}
.foot-about .about-us {
	padding: 10px 10px 0px;
}
.foot-about .about-us span {
	line-height: 57px; float: left;
}
.foot-about .about-us .nav-qqun {
	padding-left: 20px;
}
.foot-about .about-us a {
	width: 56px; height: 57px; margin-left: 20px; float: left;
}
.foot-about .about-us a.nav-weibo {
	
}
.foot-about .about-us a.nav-weibo:hover {
	background-position: -57px 0px;
}
.foot-about .about-us a.nav-weixin {
	background-position: 0px -58px;
}
.foot-about .about-us a.nav-weixin:hover {
	background-position: -57px -58px;
}
.foot-about .about-us a.nav-weixin .ui-popup {
	left: 67px; top: -65px;
}
.foot-about .about-kefu {
	top: 15px; text-align: right; right: 10px; position: absolute;
}
.foot-about .about-kefu em {
	display: block;
}
.foot-about .about-kefu strong {
	display: block;
}
.foot-about .about-kefu strong {
	font-size: 30px; font-weight: 400;
}
.foot-copyright {
	padding: 10px 0px; text-align: center;
}
.foot-safelink {
	text-align: center;
}
.ui-pager {
	margin: 10px auto; padding: 8px 0px; text-align: center;
}
.ui-pager a {
	margin: 0px 4px; padding: 0px 9px; border: 1px solid rgb(222, 222, 222); height: 26px; text-align: center; color: rgb(219, 86, 41); line-height: 26px; display: inline-block; background-color: rgb(255, 255, 255);
}
.ui-pager a.current {
	color: rgb(255, 255, 255); font-weight: 700; background-color: rgb(219, 86, 41);
}
.ui-pager .jumpPager {
	width: 30px; text-align: center;
}
.ui-popup {
	border: 1px solid rgb(204, 204, 204); left: 50%; top: 11px; float: left; display: block; position: absolute; z-index: 999; background-color: rgb(255, 255, 255);
}
.ui-popup .ui-popup-left {
	display: block; position: absolute; background-image: url("/static/images/user/pop-white-tip-1b5451f.png"); background-repeat: no-repeat;
}
.ui-popup .ui-popup-top {
	display: block; position: absolute; background-image: url("/static/images/user/pop-white-tip-1b5451f.png"); background-repeat: no-repeat;
}
.ui-popup .ui-popup-right {
	display: block; position: absolute; background-image: url("/static/images/user/pop-white-tip-1b5451f.png"); background-repeat: no-repeat;
}
.ui-popup .ui-popup-bottom {
	display: block; position: absolute; background-image: url("/static/images/user/pop-white-tip-1b5451f.png"); background-repeat: no-repeat;
}
.ui-popup .ui-popup-top {
	left: 50%; width: 21px; height: 11px; margin-left: -10px;
}
.ui-popup .ui-popup-bottom {
	left: 50%; width: 21px; height: 11px; margin-left: -10px;
}
.ui-popup .ui-popup-top {
	background-position: 50% 0px; top: -11px;
}
.ui-popup .ui-popup-bottom {
	background-position: 50% 100%; bottom: -11px;
}
.ui-popup .ui-popup-left {
	top: 50%; width: 11px; height: 21px; margin-top: -10px;
}
.ui-popup .ui-popup-right {
	top: 50%; width: 11px; height: 21px; margin-top: -10px;
}
.ui-popup .ui-popup-right {
	background-position: 100% 50%; right: -11px;
}
.ui-popup .ui-popup-left {
	background-position: 0px 50%; left: -11px;
}
.ui-popup .ui-popup-img {
	padding: 15px;
}
.ui-popup .ui-popup-img img {
	border: 0px currentColor;
}
.sns-weibo {
	width: 38px; height: 37px; display: inline-block; background-image: url("/static/images/user/icon-sns-e08a834.png"); background-repeat: no-repeat;
}
.sns-pengyou {
	width: 38px; height: 37px; display: inline-block; background-image: url("/static/images/user/icon-sns-e08a834.png"); background-repeat: no-repeat;
}
.sns-weibo {
	
}
.sns-pengyou {
	background-position: 0px -38px;
}
.ui-mask {
	left: 0px; top: 0px; width: 100%; height: 100%; right: 0px; bottom: 0px; filter: alpha(opacity=30); position: fixed; z-index: 99990; opacity: 0.3; background-color: rgb(51, 51, 51); _position: absolute;
}
.ui-dialog {
	border: 1px solid rgb(204, 204, 204); left: 50%; top: 50%; margin-top: -140px; margin-left: -230px; position: fixed; z-index: 99999; min-height: 280px; min-width: 460px; background-color: rgb(255, 255, 255); _position: absolute; _height: 280px;
}
.ui-dlg-header {
	border-radius: 10px 10px 0px 0px; height: 50px; line-height: 50px; overflow: hidden; background-color: rgb(243, 243, 243); -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0;
}
a.ui-dlg-close {
	width: 50px; height: 50px; text-align: center; color: rgb(170, 170, 170); line-height: 0.9; font-size: 50px; float: right;
}
a.ui-dlg-close:visited {
	width: 50px; height: 50px; text-align: center; color: rgb(170, 170, 170); line-height: 0.9; font-size: 50px; float: right;
}
.ui-dlg-close:hover {
	text-decoration: none;
}
.ui-dlg-msg {
	padding: 30px 0px; text-align: center; font-size: 18px; min-height: 90px; _height: 80px;
}
.ui-dlg-btn {
	padding: 1.5em 0px; text-align: center;
}
.ui-dlg-btn .ui-btn {
	margin: 0px 20px; width: 133px;
}
.ui-dlg-btn .ui-btn1 {
	margin: 0px 20px; width: 133px;
}
.ui-message {
	min-height: 200px; _height: 200px;
}
.ui-tip-msg {
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.ui-dialog {
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px;
}
.rds10 {
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px;
}
.wrap-txt {
	width: 960px; margin-right: auto; margin-left: auto;
}
.ui-wrapper {
	width: 960px; margin-right: auto; margin-left: auto; position: relative;
}
.ui-left {
	float: left;
}
.ui-right {
	float: right;
}
.ui-text {
	border-width: 1px; border-style: solid; border-radius: 5px; padding-right: 0.5em; padding-left: 0.5em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.ui-btn {
	border-width: 1px; border-style: solid; border-radius: 5px; padding-right: 0.5em; padding-left: 0.5em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.ui-btn1 {
	border-width: 1px; border-style: solid; border-radius: 5px; padding-right: 0.5em; padding-left: 0.5em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.ui-tip-msg {
	border-width: 1px; border-style: solid; border-radius: 5px; padding-right: 0.5em; padding-left: 0.5em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px;
}
.ui-text {
	border-color: rgb(162, 162, 162); height: 35px; line-height: normal; box-shadow: inset 0px 0px 5px rgba(162,162,162,0.5); -moz-box-shadow: inset 0 0 5px rgba(162, 162, 162, .5); -webkit-box-shadow: inset 0 0 5px rgba(162, 162, 162, .5);
}
.ui-text:focus {
	border-color: rgb(191, 153, 104);
}
.ui-btn {
	background-position: 0px 50%; border-width: 0px; height: 40px; text-align: center; color: rgb(85, 85, 85); line-height: 40px; cursor: pointer; background-image: url("/static/images/base/btn-956afda.png"); background-repeat: repeat-x;
}
.ui-btn1 {
	background-position: 0px 50%; border-width: 0px; height: 40px; text-align: center; color: rgb(85, 85, 85); line-height: 40px; cursor: pointer; background-image: url("/static/images/base/btn-956afda.png"); background-repeat: repeat-x;
}
.ui-btn {
	color: rgb(255, 255, 255); font-size: 16px;
}
.ui-btn:focus {
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .2); -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .2);
}
.ui-btn1:focus {
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.2); -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .2); -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, .2);
}
.ui-btn1 {
	font-size: 16px; background-image: none; background-color: rgb(231, 231, 231);
}
.ui-tip-msg {
	border-color: rgb(236, 207, 163); padding: 0.6em 0.8em; color: rgb(77, 77, 77); display: inline-block; white-space: nowrap; position: relative; background-color: rgb(254, 244, 229);
}
.ui-tip-msg .ui-tip-top {
	display: block; position: absolute; background-image: url("/static/images/base/msg-tip-a54a793.png"); background-repeat: no-repeat;
}
.ui-tip-msg .ui-tip-right {
	display: block; position: absolute; background-image: url("/static/images/base/msg-tip-a54a793.png"); background-repeat: no-repeat;
}
.ui-tip-msg .ui-tip-bottom {
	display: block; position: absolute; background-image: url("/static/images/base/msg-tip-a54a793.png"); background-repeat: no-repeat;
}
.ui-tip-msg .ui-tip-left {
	display: block; position: absolute; background-image: url("/static/images/base/msg-tip-a54a793.png"); background-repeat: no-repeat;
}
.ui-tip-msg .ui-tip-top {
	left: 50%; width: 18px; height: 9px; margin-left: -9px;
}
.ui-tip-msg .ui-tip-bottom {
	left: 50%; width: 18px; height: 9px; margin-left: -9px;
}
.ui-tip-msg .ui-tip-top {
	background-position: 50% 0px; top: -9px;
}
.ui-tip-msg .ui-tip-bottom {
	background-position: 50% 100%; bottom: -9px;
}
.ui-tip-msg .ui-tip-left {
	top: 50%; width: 9px; height: 18px; margin-top: -9px;
}
.ui-tip-msg .ui-tip-right {
	top: 50%; width: 9px; height: 18px; margin-top: -9px;
}
.ui-tip-msg .ui-tip-right {
	background-position: 100% 50%; right: -9px;
}
.ui-tip-msg .ui-tip-left {
	background-position: 0px 50%; left: -9px;
}
.ui-ico-error {
	background-position: 0px 2px; padding-left: 20px; background-image: url("/static/images/base/icon-error-776cb09.png"); background-repeat: no-repeat;
}
.ui-copyright {
	margin: 10px 0px; color: rgb(190, 187, 187);
}
.ui-foot-links {
	overflow: hidden; display: inline-block; position: relative;
}
.ui-foot-links li {
	padding: 0px 8px; color: rgb(190, 187, 187); margin-right: -1px; border-right-color: rgb(190, 187, 187); border-right-width: 1px; border-right-style: solid; display: inline; position: relative;
}
.ui-foot-links li a {
	color: rgb(190, 187, 187);
}
.ui-friend-links {
	color: rgb(190, 187, 187);
}
.ui-friend-links em {
	overflow: hidden; display: inline-block; position: relative;
}
.ui-login-user {
	background-position: 10px 10px; padding-left: 30px; background-image: url("/static/images/base/login-icon-1af1146.png"); background-repeat: no-repeat;
}
.ui-login-pwd {
	background-position: 10px 10px; padding-left: 30px; background-image: url("/static/images/base/login-icon-1af1146.png"); background-repeat: no-repeat;
}
.ui-login-pwd {
	background-position: 10px -18px;
}
.rds10 {
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px;
}
.ml10 {
	margin-left: 10px;
}
.mt10 {
	margin-top: 10px;
}
.mr10 {
	margin-right: 10px;
}
.mb10 {
	margin-bottom: 10px;
}
.mh10 {
	margin-right: 10px; margin-left: 10px;
}
.mv10 {
	margin-top: 10px; margin-bottom: 10px;
}
.m10 {
	margin: 10px;
}
.ml20 {
	margin-left: 20px;
}
.mt20 {
	margin-top: 20px;
}
.mr20 {
	margin-right: 20px;
}
.mb20 {
	margin-bottom: 20px;
}
.mh20 {
	margin-right: 20px; margin-left: 20px;
}
.mv20 {
	margin-top: 20px; margin-bottom: 20px;
}
.m20 {
	margin: 20px;
}
.pl10 {
	padding-left: 10px;
}
.pt10 {
	padding-top: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.ph10 {
	padding-right: 10px; padding-left: 10px;
}
.pv10 {
	padding-top: 10px; padding-bottom: 10px;
}
.p10 {
	padding: 10px;
}
.pl20 {
	padding-left: 20px;
}
.pt20 {
	padding-top: 20px;
}
.pr20 {
	padding-right: 20px;
}
.pb20 {
	padding-bottom: 20px;
}
.ph20 {
	padding-right: 20px; padding-left: 20px;
}
.pv20 {
	padding-top: 20px; padding-bottom: 20px;
}
.p20 {
	padding: 20px;
}
.pages {
	margin: 10px auto; padding: 8px 0px; text-align: center;
}
.pages a {
	background: rgb(255, 255, 255); margin: 0px 4px; border: 1px solid rgb(222, 222, 222); width: 28px; height: 28px; text-align: center; line-height: 28px; display: inline-block;
}
.pages a.curPage {
	background: rgb(255, 246, 229); border: 1px solid rgb(244, 197, 110); color: rgb(210, 136, 21); font-weight: 700;
}
.pages a.prevPage {
	font-family: serif;
}
.pages input {
	width: 20px;
}
.pages select {
	width: 40px;
}
.pages .go-page {
	background: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); height: 24px; text-align: center; line-height: 24px; margin-right: 5px;
}
.amp-top {
	background: url("/static/images/amp/top-bg-a88ae2c.png") repeat-x 0px 0px; height: 141px; text-align: center;
}
.btn {
	background: rgb(209, 207, 208); padding: 0px 20px; border-radius: 3px; border: 0px currentColor; height: 35px; color: rgb(255, 255, 255); line-height: 30px; font-size: 18px; cursor: pointer;
}

.btn:hover {
	background: rgb(190, 190, 190);
}
.btn-link:hover {
	background: rgb(190, 190, 190);
}
.btn-link {
	text-align: center; line-height: 35px; display: inline-block;
}
a.btn-link {
	text-align: center; color: rgb(255, 255, 255); line-height: 35px; display: inline-block;
}
a.btn-link:visited {
	text-align: center; color: rgb(255, 255, 255); line-height: 35px; display: inline-block;
}
a.btn-link:hover {
	text-decoration: none;
}
.future-link {
	background: rgb(233, 93, 1); color: rgb(255, 255, 255);
}
.future-link:visited {
	background: rgb(233, 93, 1); color: rgb(255, 255, 255);
}
.future-link:hover {
	background: rgb(254, 106, 9); color: rgb(255, 255, 255);
}
.right-link:visited {
	background: rgb(51, 204, 153); color: rgb(255, 255, 255);
}
.right-link:hover {
	background: rgb(51, 192, 145); color: rgb(255, 255, 255);
}
a.once-link {
	background: rgb(242, 242, 242); color: rgb(159, 159, 159);
}
a.once-link:visited {
	background: rgb(242, 242, 242); color: rgb(159, 159, 159);
}
a.sell-out-link {
	background: rgb(242, 242, 242); color: rgb(159, 159, 159);
}
a.sell-out-link:visited {
	background: rgb(242, 242, 242); color: rgb(159, 159, 159);
}
a.sell-out-link:hover {
	background: rgb(242, 242, 242); color: rgb(159, 159, 159);
}
.btn-min {
	padding: 0px 5px; font-size: 12px;
}
.btn-common {
	background: rgb(219, 86, 41);
}
.btn-common:hover {
	background: rgb(199, 75, 33);
}
.btn-success {
	background: rgb(91, 183, 91);
}
.btn-success:hover {
	background: rgb(81, 163, 81);
}
.btn-danger {
	background: rgb(218, 79, 73);
}
.btn-danger:hover {
	background: rgb(189, 54, 47);
}
.btn-info {
	background: rgb(73, 175, 205);
}
.btn-info:hover {
	background: rgb(47, 150, 180);
}
.btn-primary {
	background: rgb(0, 68, 204);
}
.btn-primary:hover {
	background: rgb(0, 59, 179);
}
.btn-block {
	width: 100%; padding-right: 0px; padding-left: 0px; display: block; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.btn-block + .btn-block {
	margin-top: 5px;
}
.login-btn {
	background: rgb(219, 86, 41); padding: 0px 20px; border-radius: 3px; border: 0px currentColor; height: 35px; color: rgb(255, 255, 255); line-height: 30px; font-size: 18px; cursor: pointer;
}
.login-btn:hover {
	background: rgb(199, 75, 33);
}
.login-error {
	background: url("/static/images/passport/login-error-icons-d715e31.png") no-repeat 0px 0px; width: 14px; height: 14px; overflow: hidden; display: none;
}
.login-info {
	background: rgb(254, 244, 229); padding: 6px 8px; border-radius: 5px; border: 1px solid rgb(236, 207, 163); color: rgb(77, 77, 77); line-height: 16px; display: none; white-space: nowrap;
}
.common-text {
	background: rgb(246, 246, 246); padding: 8px 5px 4px; border-radius: 3px; border: 1px solid rgb(228, 228, 228); height: 20px; line-height: 20px; text-indent: 2px; box-shadow: inset 0px 2px 0px #bebebe;
}
.pro-notice {
	padding: 1px 6px; border-radius: 3px; border: 1px solid rgb(249, 208, 180); height: 18px; color: rgb(233, 93, 1); font-size: 12px; margin-right: 8px;
}
.img-loading {
	background: url("/static/images/base/img-loader-a51c560.gif") no-repeat 0px 0px; margin: -16px 0px; left: 50%; top: 50%; width: 32px; height: 32px; position: absolute; z-index: 2;
}
