/* CSS Document */

body{ font-family:"Microsoft YaHei";font-size:12px; margin:0 auto; padding:0 auto; background-color:#CCCCCC;color:#3e3e3e;}
#nav{width:100%; height:85px; margin:0 auto;box-shadow: 2px 2px 2px #ddd; }
.banner{z-index:-1;  background:url(/Yqwan/index/banner.png) no-repeat center; position:absolute; width:100%; height:551px;}
#content{width:1009px; height:1600px; margin:0 auto; background-color:#fff; }
.content_left{width:800px; height:100%; float:left;  margin-left:9px; overflow:hidden;}
.content{width:800px; height:900px; border:3px #ddd solid; border-top:0px #000 solid;}
.content .top{width:798px; height:52px; border-bottom:1px #aaa solid; line-height:52px; font-size:16px;}
.content .top img{margin-left:15px; margin-right:4px;}
.content table{margin-left:20px;}
.content .centre{width:800px; height:425px; font-size:15px; border-bottom:1px #aaa solid;}
.content table .lanse{color:#0066CC;}
.content .bottom{width:800px; height:490px; font-size:16px;}
.content .bottom .address input{width:200px;}
.content_right{width:200px; height:auto;float:left;}



/*账号中心 */
.account{width:800px; height:900px; border:3px #ddd solid; border-top:0px #000 solid;}
.account div{width:799px; height:158px; border-top:1px #aaa solid;}
.account div table{width:780px; height:120px; margin-top:20px; margin-left:20px; font-size:14px;}
.account div table td{ vertical-align:top;}
.account div table td span {font-size:12px;padding:5px; background-color:#1182e5; position:relative; top:5px; color:#FFF; cursor:pointer; border-radius:4px;-ms-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.account div table td span a{color:#FFF;text-decoration:none;}
.account div table .middle{vertical-align:middle; position:relative; top:-10px;font-size:12px;}
.account .top{width:798px; height:52px; border-bottom:1px #aaa solid; border-top:0; line-height:52px; font-size:16px;}
.account .top img{margin-left:15px; margin-right:4px;}
.account .centre1{border-top:0px #000000 solid;}
.account .centre1 td{vertical-align:middle;}

/* 会员中心账号中心按钮图片背景*/
.content_left .nav li:nth-child(2){
	background:#09f;
	color:#fff;
}