@charset "utf-8";
/* CSS Document */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
img{ border:none; border:0; vertical-align:middle;}
h1, h2, h3, h4, h5, h6{font-weight:normal; font-size:100%;}
button,input,select,textarea{ font:12px/1.5  Arial, "Microsoft YaHei", Helvetica,  Verdana, sans-serif; word-wrap:break-word; color:#565756;}
input,select,textarea{vertical-align:middle; *font-size:100%; resize: none;}
input{ margin:0;outline:none; padding:0;}
input::-ms-clear{display:none;}
ul,li{ list-style:none; margin:0; padding:0;}
.dh{color:#777;}
.blue{color:#337ab7;}
.left{float:left;}
.right{float:right;}