@CHARSET "UTF-8";



.registerSucceed_succeedImg{width: 160px; height: 160px; float: left; background-image: url(registerSucceed.png); background-repeat: no-repeat;}

.registerSucceed_succeedDiv{font-family: Microsoft YaHei; font-size: 35px; color: #555; margin-top: 50px; margin-left:50px; float: left; width: auto; overflow: auto;}

.registerSucceed_succeedHint{float: left; color: #a2a2a2; font-family: Microsoft YaHei; font-size: 14px; margin-top: -20px; margin-left:80px}

.registerSucceed_succeedHint_02{float: left; color: #a2a2a2; font-family: Microsoft YaHei; font-size: 14px; margin-top: -15px; margin-left:80px}


.registerSucceed_loginDiv{float: left; margin-top: 5px; width: 300px; height: 50px; margin-top: 10px; margin-left:80px}

.registerSucceed_loginInput{float:left; cursor: pointer; border: 0px; background: #e73c1f; width: 150px; height: 34px; font-family:Microsoft YaHei; color: white; font-size: 15px; margin-top: 10px;}







.registerSucceed_pojoDiv_01{width:700px; height: 90px;}

.registerSucceed_pojoDiv_02{width:700px; height: 400px;}

.registerSucceed_pojoDiv_03{clear:left; width: 500px; height: 200px; }

.registerSucceed_pojoDiv_04{clear:left;  width: 25px; height: 20px; float: left; }

.registerSucceed_pojoDiv_05{border:1px dashed #cacaca;}

.registerSucceed_pojoDiv_06{width:700px; height: 70px;}
