body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form,fieldset,button,input,textarea,th,td{font-family:微軟雅黑;margin:0;padding:0;} body{font-family: "Microsoft YaHei"; font: 12px "Microsoft YaHei", Arial;background:url(BGS.jpg) top;} h1,h2,h3,h4,h5,h6{font-size:100%;} ul,ol{list-style:none;} a{text-decoration:none;color:#2965b1;} a:hover{text-decoration:underline;} fieldset,img{border:0;} button,input,select,textarea{font-size:100%;} table{border-collapse:collapse;border-spacing:0;} .l{float:left;display:inline;} .r{float:right;display:inline;} .tr{text-align: right;} .tl{text-align: left;} .tc{text-align: center;} .rel{position:relative;} .abs{position:absolute;} .cell{display:table-cell;*display:inline-block;width:2000px;*width:auto;} .inblock{display:inline;display:inline-block;*zoom:1;} .clearfix{*zoom:1;} .clearfix:after{content:"";display:table;clear:both;overflow:hidden;} .auto{margin-left: auto;margin-right: auto;} .ml2{margin-left:2px;} .ml5{margin-left:5px;} .ml10{margin-left:10px;} .ml20{margin-left:20px;} .mr2{margin-right:2px;} .mr5{margin-right:5px;} .mr10{margin-right:10px;} .mr20{margin-right:20px;} .mt2{margin-top:2px;} .mt5{margin-top:5px;} .mt10{margin-top:10px;} .mt20{margin-top:20px;} .mb2{margin-bottom:2px;} .mb5{margin-bottom:5px;} .mb10{margin-bottom:10px;} .mb20{margin-bottom:20px;} .pl2{padding-left:2px;} .pl5{padding-left:5px;} .pl10{padding-left:10px;} .pl20{padding-left:20px;} .pr2{padding-right:2px;} .pr5{padding-right:5px;} .pr10{padding-right:10px;} .pr20{padding-right:20px;} .pt2{padding-top:2px;} .pt5{padding-top:5px;} .pt10{padding-top:10px;} .pt20{padding-top:20px;} .pb2{padding-bottom:2px;} .pb5{padding-bottom:5px;} .pb10{padding-bottom:10px;} .pb20{padding-bottom:20px;} .nowrap{white-space:nowrap;} .trans{transition:all 0.3s ease;} .arial{font-family: Arial} .yahei{font-family: "Microsoft YaHei"} .f12{font-size:12px;} .f14{font-size:14px;} .f16{font-size:16px;} .fn{font-style:normal;} .fb{font-weight:bold;}

.page{width: 100%;}
.center{width: 1000px;margin: 0 auto; height:706px; width:947px; box-shadow:4px 12px 30px #000;}
.content{background: url("");width: 800px;height: 710px;float: left;}
.header{width:800px;height: 106px;background: url(gamestartbanner.jpg) }
.frame{width: 960px;height: 720px;}
.sider{background: url(sider_bg.png) no-repeat center;width: 147px;height: 707px;float: left;}
.news{background: url(news-bg.jpg) no-repeat center;width: 132px;height: 130px;margin: 0 auto;margin-top: 10px;}
.newsL{background: url(news.jpg) no-repeat center;width: 127px;height: 46px;margin: 0 auto;}
.newsList ul{text-align:center;padding-top: 16px;}
.newsList a{color: #ffc16e;}
.msbox{width: 147px;margin-left: auto;margin-right: auto;position: relative;text-align: center;}
.mt3{margin-top: 3px;}
.gl{background: url(gl-bg.jpg) no-repeat center;width: 130px;height: 204px;margin: 0 auto;margin-top: 5px;}
.glL{background: url(gll.jpg) no-repeat center;width: 126px;height: 46px;margin: 0 auto;padding-top: 5px;}
.glList ul{padding-top: 16px;text-align: center;}
.glList a{color: #ffc16e;}
.msbox span{ position: absolute;color:white;display: block;width: 147px;text-align: center;margin-top: 40px;}

/* ���߸��� */
.wid1500{width:1000px;height:706px;margin:0 auto;}
.both{width:1000px;height:706px;position:relative;}
.bothleft{position: absolute;left: 50%;margin-left: -860px;top: 169px;width: 330px; height: 380px;z-index: 100; background-color:#FFFFFF;box-shadow:4px 12px 30px #000;}
.box {width: 330px; height: 380px; background: #fff;}
.box .hd {height: 40px;line-height: 40px;background: #181818; padding: 0 10px 0 20px;position: relative;}
.box .hd ul {float: left;position: absolute; left: 10px; top: 6px;height: 36px;}
.box .hd ul li { float: left; padding: 0 49px;cursor: pointer; color: #fff;font-size: 14px;}
.box .hd ul li.on { height: 34px;background: #fff; border-bottom: 2px solid #fff;color: #fe2402;}
.box .bd ul {padding: 15px;zoom: 1;}
.box .bd .box_con {height: 310px;overflow: auto;}
.bothright{position:absolute;left:50%;margin-left:530px;top:169px;width:330px;height:380px;z-index:100; background-color:#FFFFFF;box-shadow:4px 12px 30px #000;}
.two{height:200px; width:200px; margin:30px auto 0 auto;}
.bothright .hd{height: 40px;line-height: 40px;background: #181818; font-size:16px; position: relative; color:#FFF; text-align:center;}
.join{width:192px; height:30px; text-align:right; margin:0 auto;}
.joinqq{width:100px; height:30px; line-height:30px; text-align:center; background-color:#09f; margin:20px auto 0 auto;}
.joinqq a{color:#FFF; text-decoration:none;}


/* ��¼���� */
.fixbo{width:100%; height:100%; background-color:#fff; position:fixed; top:0;left:0; z-index:998; opacity:0.6; filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity: 0.3; display:none;}
.fix{width:380px;height:300px;background-color:#fafafa; position:fixed; left:50%; top:50%; z-index:999; margin:-110px 0px 0px -190px; display:none;}
.fixtop{width:380px;height:40px;background-color:#09f;font-size:16px; color:#FFF; font-weight:bold; line-height:40px;}
.fixtop span{margin-left:10px;}
.fixtop img{float:right;margin:10px; cursor:pointer;}
.logobaidi1{width:185px; height:50px; margin:20px auto 0 auto;}
.fixcon{font-size:14px;font-family: "Microsoft YaHei"; margin-left:45px;}
.fixcon input{font-size:16px;  font-family: "Microsoft YaHei"; margin-top:20px; padding-left:10px;width:165px;}
.gogame{padding:8px 25px; font-size:18px;  font-family: "Microsoft YaHei"; background-color:#09f;color:#FFF; position:relative; top:30px; left:79px; cursor:pointer;}
.reg{position:relative;top:38px;left:97px;font-size:12px;text-decoration:inherit;text-decoration:underline; cursor:pointer;}

